<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="css/icomoon.min.css">
    <title>My Recipes</title>
</head>
<body class="container b-shit">
    <header class="headcol-2">
        <div>
            <a href="index.html">
                <img src="svg/my-recipes.svg">
            </a>
        </div>
        <input type="checkbox" id="menu" class="takki">
        <label class="takkii" for="menu">
            <img src="img/dots.svg">
        </label>
        <div class="topmenu">
            <a href="bread.html"><span class="icon-bread"></span> Bread</a>
            <a href="#"><span class="icon-starters"></span> Starters</a>
            <a href="#"><span class="icon-maincourses"></span> Main Courses</a>
            <a href="#"> <span class="icon-desserts"></span> Desserts</a>
            <a href="#"><span class="icon-glass"></span> Drinks</a>
        </div>
    </header>
    <main>
        <section class="col-3-1">
            <div class="splashlogo">
                <table id="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>BREAD</th>
                        <th>STARTERS</th>
                        <th>MAIN COURSES</th>
                        <th>DESSERTS</th>
                    </tr>
                    </thead>
                    <tr>
                        <th>Fast and Easy</th>
                        <th>Dutch Oven Bread</th>
                        <th>Basic Soufflé</th>
                        <th>Mac&Cheese</th>
                        <th>Ice Cream Sundae</th>
                    </tr>
                    <tr>
                        <th>Quality Recipes</th>
                        <th>Croissants</th>
                        <th>Chocolate Fondue</th>
                        <th>Pizza with dates.</th>
                        <th>Lava Cakes</th>
                    </tr>
                    <tr>
                        <th>Exotic Recipes</th>
                        <th><a>Melon Bread</a></th>
                        <th><a>Fried Octopus</a></th>
                        <th><a>Reindeer Meat</a></th>
                        <th><a>Tropical Punch Cups</a></th>
                    </tr>
                    <tr>
                        <th colspan="5" id="buttable"><a class="mybutt" href="form.html" target="_blank">Senda uppskrift.</a></th>
                    </tr>
                </table>
            </div>
            <div class="auglysing">
                {% include "auglysing.html" %}
            </div>
            <div class="kynning">
                <h2>Scalable Vector Graphics. Í 4. verkefni búum við til nýja forsíðu á uppskriftarvefinn og notum SVG tákn í lógó og leturtákn í efnisyfirliti.  Til að byrja með notum við vefsíðurnar úr 3. verkefni sem undirsíður og höfum aðra tengla í efnisyfirlitinu óvirka. </h2>
            </div>
        </section>
        <figure class="col-4">
            <img src="img/bread.jpg" title="bread"> 
            <img src="img/FigHamStarter.jpg" title="starters">
            <img src="img/Grilled-Buttermilk-Chicken.jpg" title="courses">
            <img src="img/desserts-hero.jpg" title="desserts">
        </figure>
    </main>
    <footer><p>Hér kemur footer ef svo þarf</p></footer>
    {% include "socialButts.html" %}
</body>
</html>


{# jinja birtir ekkert innan #}
{#
{% raw %}  RAW gerir jinja kóðann óvirkan en birtir html
{% extends "frontpage.html" %}
    {% block content %}
    <main class="col-3">
    {% for post in posts %}
        <div class="stretch">
            <article class="card">
                <header>
                    <img src="{{ post.thumbnail }}">
                </header>
                <main>
                    <h2>{{ post.title }}</h2>
                    <small>{{ post.date }}</small>
                    <p>{{ post.summary}}</p>
                    
                    <a class="mybutt" href="posts/{{ post.slug }}.html">Recipe</a>
                    
                    {% set list_of_tags = post.tags.split(",") %}
                    {% for tag in list_of_tags %}
                        <button class="mytag">{{ tag }}</button>
                    {% endfor %}
                </main>
            </article>
        </div>
    {% endfor %}
    </main>
    {% endblock %}
{% endraw %}
#}